<!--The content below is only a placeholder and can be replaced.-->

<app-task (aTaskEventEmitter)="dataFromChild($event)"></app-task>

<button (click)="onButtonClick($event)">Click me!</button>

<form (submit)="onSubmit()">
  <input
    type="text"
    name="email"
    required
    minlength="4"
    maxlength="24"
    [(ngModel)]="user.email"
    #email="ngModel"
  />
  <input
    type="text"
    name="first_name"
    required
    minlength="4"
    maxlength="24"
    [(ngModel)]="user.first_name"
    #first_name="ngModel"
  />
  <input
    type="text"
    name="last_name"
    required
    minlength="4"
    maxlength="24"
    [(ngModel)]="user.last_name"
    #last_name="ngModel"
  />
  <input
    type="text"
    name="password"
    required
    minlength="8"
    maxlength="24"
    pattern="^([a-zA-Z0-9@*#]{8,15})$"
    [(ngModel)]="user.password"
    #password="ngModel"
  />
  {{ email.errors | json }}
  {{ email.valid | json }}
  <input type="submit">
</form>
